@charset "UTF-8";
.ui fixed inverted menu admin-menu {
  padding: unset;
}

.th-width {
  width: 200px;
}

.right-column {
  padding: 10%;
}

.btn {
  text-align: right;
  clear: both;
}
.ui search {
  float: left;
}
.content ui container main-content {
  margin-top: 30%;
  padding-top: 70px;
}
.button {
  display: flex;
  justify-content: center;
}
.price {
  display: flex;
}
.image {
  display: flex;
  justify-content: center;
}
th.action {
  width: 180px;
}
