@charset "UTF-8";

.th-width {
  width: 200px;
}

.right-column {
  padding: 10%;
}

.btn {
  text-align: right;
  clear: both;
}
.ui search {
  float: left;
}
.content ui container main-content {
  margin-top: 30%;
  padding-top: 70px;
}
.button {
  display: flex;
  justify-content: center;
}
.price {
  display: flex;
}
.image {
  display: flex;
  justify-content: center;
}
th.action {
  width: 180px;
}
.login {
  text-align: center;
  padding: 20px 0;
}
.login-form {
  max-width: 330px;
  padding: 40px;
  margin: auto;
}

.place {
  padding: 10px 5px 0 5px;
}
.field {
  margin: 5px;
}
label {
  margin-left: 5px;
  margin-right: 10px;
}
.search-box {
  display: inline;
  width: auto;
  height: 50px;
}

input[type="file"][name="thumbnail_file"] {
  display: none;
}
