<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:th="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate=~{layout/layout}">

<head>
<title></title>
</head>
<body>
    <div layout:fragment="menu" class="bg-light">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">
                <a class="nav-link" th:href="@{'/zaiko/shoesmanager'}">在庫一覧</a>
                <a class="nav-link" th:href="@{''}">入庫登録</a>
                <a class="nav-link" th:href="@{''}">出庫登録</a>
            </li>
        </ul>
    </div>
</body>
</html>