<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/semantic.css" />
    <link rel="stylesheet" href="../css/shoesmanager.css" />
    <meta charset="UTF-8" />
    <title>カテゴリ</title>
  </head>
  <body>
    <!--ヘッダー-->
    <div class="ui fixed inverted menu admin-menu">
      <div class="ui container">
        <a href="" class="header item title">
          <span class="menu-main-title">在庫管理システム</span>
        </a>
        <div class="ui secondary menu">
          <a class="item" href="/zaiko/index.html">在庫一覧</a>
          <a class="item" href="/nyuuko/index.html">入庫登録</a>
          <a class="item" href="/syukko/index.html">出庫登録</a>
          <a class="item" href="/master/product.html">商品マスタ</a>
          <a class="item" href="/master/category.html">カテゴリマスタ</a>
          <a class="item" href="/master/maker.html">メーカー</a>
          <a class="item" href="/admin/userList.html">管理者</a>
        </div>
      </div>
      <div class="mark">
        <button
          class="ui inverted black button"
          onclick="location.href='/user/login.html'"
        >
          ログアウト
        </button>
      </div>
    </div>
    <!--main-->
    <div class="right-column">
      <h3>カテゴリ検索</h3>
      <div class="ui segment">
        <form
          id="user-search-form"
          method="post"
          th:action=""
          class="form-inline"
          th:object=""
        >
          <!--カテゴリ-->
          <div class="ui category search">
            <div class="ui icon input">
              <select class="ui search dropdown">
                <option value="">選択してください</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
              </select>
              <input class="prompt" type="text" placeholder="検索" />
            </div>
            <button class="ui inverted green button" 　type="submit">
              検索
            </button>
          </div>
        </form>
      </div>
      <h3>カテゴリ一覧</h3>
      <div class="ui segment">
        <div class="btn">
          <button
            class="ui button green new-entry"
            tabindex="0"
            data-ol-has-click-handler=""
          >
            新規追加
          </button>
        </div>
        <!-- 一覧表示 -->
        <table class="ui celled table">
          <thead>
            <tr>
              <th class="width">カテゴリ名</th>
              <th class="action">削除・更新</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="">1111</td>
              <td class="btn">
                <button class="ui inverted red button">削除</button>
                <button class="ui inverted blue button">更新</button>
              </td>
            </tr>
            <tr>
              <td data-label="">2222</td>
              <td class="action">
                <button class="ui inverted red button">削除</button>
                <button class="ui inverted blue button">更新</button>
              </td>
            </tr>
            <tr>
              <td data-label="">3333</td>
              <td class="action">
                <button class="ui inverted red button">削除</button>
                <button class="ui inverted blue button">更新</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="../js/semantic.js"></script>
    <script src="../js/shoes-manager.js"></script>
    <div class="ui modal transition update-modal">
      <i class="close icon"></i>
      <div class="header">カテゴリの更新</div>
      <div class="content">
        <h5>更新するカテゴリの名前</h5>
        <form
          id="user-search-form"
          method="post"
          th:action=""
          class="form-inline"
          th:object=""
        >
          <div class="field">
            <label>カテゴリ名前</label>
            <div class="field">
              <div class="ui right labeled input">
                <input type="text" name="name" placeholder="名前" value />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="actions">
        <div class="ui approve button positive">更新</div>
        <div class="ui cancel button">キャンセル</div>
      </div>
    </div>
    <div class="ui modal transition shipping-modal">
      <i class="close icon"></i>
      <div class="header">カテゴリの更新</div>
      <div class="content">
        <h5>更新するカテゴリの名前</h5>
        <form
          id="user-search-form"
          method="post"
          th:action=""
          class="form-inline"
          th:object=""
        >
          <div class="field">
            <label>カテゴリ名前</label>
            <div class="field">
              <div class="ui right labeled input">
                <input type="text" name="name" placeholder="名前" value />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="actions">
        <div class="ui approve button positive">更新</div>
        <div class="ui cancel button">キャンセル</div>
      </div>
    </div>
  </body>
</html>
