<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/semantic.css" />
    <link rel="stylesheet" href="../css/shoesmanager.css" />
    <meta charset="UTF-8" />
    <title>商品詳細</title>
  </head>
  <body>
    <!--ヘッダー-->
    <div class="ui fixed inverted menu admin-menu">
      <div class="ui container">
        <a href="" class="header item title">
          <span class="menu-main-title">在庫管理システム</span>
        </a>
        <div class="ui secondary menu">
          <a class="item" href="/zaiko/index.html">在庫一覧</a>
          <a class="item" href="/nyuuko/index.html">入庫登録</a>
          <a class="item" href="/syukko/index.html">出庫登録</a>
          <a class="item" href="/master/product.html">商品マスタ</a>
          <a class="item" href="/master/category.html">カテゴリマスタ</a>
          <a class="item" href="/master/maker.html">メーカー</a>
          <a class="item" href="/admin/userList.html">管理者</a>
        </div>
      </div>
      <div class="mark">
        <button
          class="ui inverted black button"
          onclick="location.href='/user/login.html'"
        >
          ログアウト
        </button>
      </div>
    </div>
    <div class="right-column">
      <div class="content ui container main-content">
        <div class="content-top">
          <h3>商品詳細</h3>
          <div class="ui segment">
            <form
              id="user-search-form"
              method="post"
              th:action=""
              class="form-inline"
              th:object=""
            >
              <!--商品名-->
              <div class="search">
                <form
                  id="user-search-form"
                  method="post"
                  th:action=""
                  class="form-inline"
                  th:object=""
                >
                  <!--画像-->
                  <div class="image">
                    <img
                      class="ui middle aligned tiny image thumbnail-img"
                      src="http://ik1-344-32290.vs.sakura.ne.jp:8080/storage/thumbnails/no-image.png"
                      alt="サムネイル"
                    />
                    　
                  </div>
                  <!--カテゴリ-->
                  <div class="field">
                    <div class="first">
                      <label>カテゴリ</label>
                      <div class="ui icon input">
                        <select class="ui search dropdown">
                          <option value="">カテゴリを選択してください</option>
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                          <option value="">4</option>
                          <option value="">5</option>
                          <option value="">6</option>
                          <option value="">7</option>
                        </select>
                      </div>
                    </div>
                    <!--メーカー-->
                    <div class="second">
                      <label>メーカー</label>
                      <div class="ui icon input">
                        <select class="ui search dropdown">
                          <option value="">メーカーを選択してください</option>
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                          <option value="">4</option>
                          <option value="">5</option>
                          <option value="">6</option>
                          <option value="">7</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!--色-->
                  <div class="field">
                    <div class="first">
                      <label>カラー</label>
                      <div class="ui icon input">
                        <select class="ui search dropdown">
                          <option value="">カラーを選択してください</option>
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                          <option value="">4</option>
                          <option value="">5</option>
                          <option value="">6</option>
                          <option value="">7</option>
                        </select>
                      </div>
                    </div>
                    <!--サイズ-->
                    <div class="second">
                      <label>サイズ</label>
                      <div class="ui icon input">
                        <select class="ui search dropdown">
                          <option value="">サイズを選択してください</option>
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                          <option value="">4</option>
                          <option value="">5</option>
                          <option value="">6</option>
                          <option value="">7</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!--商品コード-->
                  <div class="field">
                    <div class="first">
                      <label>商品コード</label>
                      <div class="ui input">
                        <input
                          class="prompt"
                          type="text"
                          placeholder="商品コード..."
                        />
                      </div>
                    </div>
                    <!--商品名-->
                    <div class="second">
                      <label>商品名</label>
                      <div class="ui input">
                        <input
                          class="prompt"
                          type="text"
                          placeholder="商品名..."
                        />
                      </div>
                    </div>
                  </div>
                  <!--値段-->
                  <div class="field">
                    <div class="first">
                      <label>値段</label>
                      <div class="ui right labeled input">
                        <input
                          type="text"
                          placeholder="金額を入力してください"
                        />
                        <div class="ui basic label">円</div>
                      </div>
                    </div>
                  </div>
                  <!--備考-->
                  <div class="field">
                    <label>備考</label>
                    <div class="first">
                      <textarea name="description" rows="2"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="button">
                <button
                  class="ui button blue new-entry"
                  tabindex="0"
                  data-ol-has-click-handler=""
                >
                  出庫
                </button>
                <button
                  class="ui button red new-entry"
                  tabindex="0"
                  data-ol-has-click-handler=""
                >
                  入庫
                </button>
                <button class="ui button">
                  <p>
                    <a href="#" onclick="history.back(); return false;">戻る</a>
                  </p>
                </button>
              </div>
              <!-- CSRF保護 -->
              <input
                type="hidden"
                name="_token"
                value="PbwY8mzo184Xlff8tHmjop4GawOIlGGrE04POyGb"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="../js/semantic.js"></script>
  </body>
</html>
